/*
Theme Name:     Fresh Agenda
Description: 	Child theme for the Twenty Fifteen theme
Author:         Christom Web Design
Author URI:     http://www.christom.com.au/
Template:  		twentyfifteen
Version:        1.0.0
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

/**********************************************/
/*                   GLOBAL                   */
/**********************************************/
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/** {
	-webkit-transition: all 0.3s linear;
	-moz-transition:    all 0.3s linear;
	-ms-transition:     all 0.3s linear;
	-o-transition:      all 0.3s linear;
	transition:  		all 0.3s linear;
}*/

.container {
	position: relative;
	width: 1100px;
	margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p,a,ul,ol,li {
	margin: 0;
	padding: 0;
}

p {
	font-size: 0.875em;
	margin-bottom: 0.75em;
	line-height: 1.4em;
}

a {
	color: #46abdf;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #46abdf;
}

a img {
	opacity: 1;
}

a img:hover {
	opacity: 0.75;
}

.flex_row_center {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row /* works with row or column */
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
}

.col {
	width: 32%; /* 352 / 1100 */
	float: left;
	position: relative;
	margin: 0 10px;
}

.col:first-child {
	margin-left: 0;
}
.col:last-child {
	margin-right: 0;
}

.breadcrumbs,
.breadcrumbs a {
	font-size: 13px;
}

.alignright {
	float: right !important;
	margin: 15px 0 15px 15px;
}

.alignleft {
	float: left !important;
	margin: 15px 15px 15px 0;
}

.aligncenter {
	margin: 15px auto;
	display: block;
}
/**********************************************/
/*                   TYPOGRAPHY               */
/**********************************************/
b,strong {
	font-weight: 600;
}

h2 {
	font-size: 1.25em;
	font-weight: 300;
	color: #595959;
}

h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	font-size: inherit !important;
}

h3 {
	font-size: 1.05em;
	font-weight: 300;
	color: #ef9135;
}

h4 {
	font-size: 1.05em;
	font-weight: 300;
	color: #595959;
}

h5 {
	font-size: 0.95em;
	font-weight: 300;
	color: #595959;
}

h6 {
	font-size: 0.875em;
	font-weight: 300;
	color: #595959;
}

.page-title {
	color: #595959;
	font-weight: 300;
	font-size: 1.5em;
	margin: 22px 0 60px;
}

.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5 {
	margin-bottom: 15px;
}

.entry-content ul {
	list-style-image: url('images/star.png');
	margin: 0 0 15px 15px;
	padding-left: 15px;
}

.entry-content ol {
	margin: 0 0 15px 15px;
	padding-left: 15px;
}

.entry-content ol li,
.entry-content ul li {
	font-size: 15px;
	margin-bottom: 10px;
}

.entry-content p {
	font-size: 0.95em;
	line-height: 1.5em;
}

/**********************************************/
/*                   MAIN                     */
/**********************************************/
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	font-weight: 300;
	background: #fff;
	overflow-x: hidden;
	color: #595959;
}

.site-main {
	background: #fff;
	padding-bottom: 45px;
}

/**********************************************/
/*                   HEADER                   */
/**********************************************/
.topbar {
	line-height: 2.2em;
	height: 2.2em;
	background: #26221f;
	text-align: right;
}

.topbar div > div {
	float: right;
}

.topbar .telephone {
	margin-right: 17px;
}

.topbar .telephone a {
	color: #fff;
	text-decoration: none;
	font-size: 0.95em;
}

.topbar .telephone a:hover {
	color: #46abdf;
	text-decoration: underline;
}

.search-bar {
	margin-top: -1px;
}

.search-bar .search-field {
	border: none;
	background: #595959;
	padding: 0 27px 0 5px;
	border-radius: 2px;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	width: 100px;
	color: #ccc;
}

.search-bar .search-submit {
	background: none;
	border: none;
	/*margin-left: -32px;*/
	color: #999999;
	position: absolute;
    right: 0;
    top: 0;
}

.site-header {
	padding: 15px 0 14px;
	background: #fff;
	box-shadow: 0px 2px 5px 0px #222;
}

.site-branding {
	float: left;
	width: 24.545454545454545%; /* 270 / 1100 */
}

.site-branding .site-title a {
	text-indent: -99999px;
	display: block;
	width: 270px;
	height: 64px;
	background: url('images/freshagenda.jpg') no-repeat center center;
}

/**********************************************/
/*                   NAVIGATION               */
/**********************************************/
.nav-desktop {
	float: left;
	width: 75.45454545454545%; /* 830 / 1100 */
	text-align: right;
}

#menu-main-nav {
	display: inline-block;
	margin-top: 1px;
}

#menu-main-nav .fa-home:before {
	font-size: 125% !important;
}

#menu-main-nav a {
	text-decoration: none;
	padding: 5px 15px;
	white-space: nowrap;
	width: auto !important;
	text-align: left;
	color: #595959;
	font-size: 1.05em;
}

ul#menu-main-nav > li > a:hover {
	color: #46abdf;
	/*background: #fcfcfc;
  	border-radius: 10px;*/
}

ul#menu-main-nav ul.sub-menu {
	margin-top: 10px;
	background: rgba(252,252,252,0.9);
	/*border-radius: 10px;*/
	padding: 0;
	box-shadow: 0px 1px 1px 0px #999
}

ul#menu-main-nav ul.sub-menu:after {
	bottom: 100%;
	left: 25%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255,255,255,0);
	border-bottom-color: #fcfcfc;
	border-width: 8px;
	margin-left: -8px;
}

ul#menu-main-nav ul.sub-menu li:first-child a,
ul#menu-main-nav ul.sub-menu ul.sub-menu li:first-child a {
	/*border-radius: 10px 10px 0 0;*/
}

ul#menu-main-nav ul.sub-menu li:last-child a,
ul#menu-main-nav ul.sub-menu ul.sub-menu li:last-child a {
	/*border-radius: 0 0 10px 10px;*/
}

ul#menu-main-nav ul.sub-menu a:hover {
	background: rgba(255,255,255,0.95);
	color: #46abdf;
}

ul#menu-main-nav ul.sub-menu ul.sub-menu a {
	border-radius: 0;
}

ul#menu-main-nav ul.sub-menu ul.sub-menu {
	margin: 0 0 0 15px;
}

ul#menu-main-nav ul.sub-menu ul.sub-menu:after {
	right: 100%;
	top: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fcfcfc;
	border-width: 8px;
	margin-top: -8px;
	left: initial;
}


/**********************************************/
/*                   SOCIAL MEDIA             */
/**********************************************/
.topbar .sm-bar {
	margin: 5px 0 0 15px;
}

.sm-bar a {
	display: block;
	width: 24px;
	height: 24px;
	background-position: top center;
	float: left;
	margin: 0 1px;
}

.sm-bar a:hover {
	background-position: bottom center;
}

.lnkdn {
	background: url('images/sm-lnkdn.png');
}

.tw {
	background: url('images/sm-tw.png');
}

/**********************************************/
/*                   HOME                     */
/**********************************************/
.home-box-wrap {
	padding: 41px 0 39px;
	background: #46abdf;
}

a.kp-box,
a.home-box {
	display: inline-block;
	position: relative;
	margin: 0 8px;
	background: #fff;
	opacity: 0.75;
	height: 126px;
}

a.kp-box:hover,
a.home-box:hover {
	opacity: 1;
}

a.home-box:first-child {
	margin-left: 0;
}
a.home-box:last-child {
	margin-right: 0;
}

a.kp-box img,
a.home-box img {
	/*opacity: 0.75*/
	width: 90.46%;
	margin-top: 6px;
}

a.kp-box span,
a.home-box span {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 95.46%;
	height: 100%;
	background: url('images/rarrow.png') no-repeat right center;
	/*opacity: 0.75;*/
}

/*a.kp-box:hover img,
a.home-box:hover img {
	opacity: 1;
}

a.kp-box:hover span,
a.home-box:hover span {
	opacity: 0.1;
}*/

.home-module-wrap {
	background: #fff;
	padding: 40px 0;
}

.home-module-wrap h2 {
	margin-bottom: 25px;
}

.home-module-wrap article.post {
	margin-bottom: 20px;
}

.home-module-wrap article.post .entry-title {
	font-size: 0.875em;
	margin-bottom: 5px;
}

.kebo-tweets.list .ktweet {
	border: none !important;
	padding: 0 !important;
}

.kmeta {
	display: none !important;
}

.kebo-tweets .ktweet .ktext {
	min-height: none !important;
	margin: 0 0 15px 0 !important;
}

.kebo-tweets .ktweet .kdate {
	float: none !important;
	font-style: italic !important;
}

/**********************************************/
/*                   PAGE                     */
/**********************************************/
.top-banner {
	display: block;
	position: relative;
	height: 263px;
	background-size: cover;
	background-position: 50% 0;
	background-repeat: no-repeat;
	width: 100%;
	-webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.5);
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.5);
    margin-bottom: 25px;
}

.page .entry-title {
	font-size: 1.5em;
	font-weight: 300;
	color: #595959;
	margin: 22px 0 60px;
}


.page-template-default .entry-title {
	margin: 22px 0 0px;
}

a.kp-box {
	float: left;
}

.kp-box:first-child {
	margin-left: 0;
}

.kp-box-text {
	position: relative;
	float: left;
	margin-left: 8px;	
	width: 352px;
}

.kp-box-text a {
	display: inline-block;
	color: #595959;
	font-size: 1.25em !important;
	padding: 15px 0;
	background: rgba(181,221,242,0.75);
	width: 83.80681818181818%; /* 295 / 352 */
	padding: 15px 6.818181818181818% 15px 9.375%;
	position: relative;
}

.kp-box-text a:first-child {
	margin-bottom: 12px;
}

.kp-box-text a:hover {
	background: rgba(181,221,242,1);
	text-decoration: none;
}

a.kp-text span {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 95.46%;
	height: 100%;
	background: url('images/rarrow.png') no-repeat right center;
	opacity: 0.75;
}

a.kp-text:hover span {
	opacity: 0.1;
}

/**********************************************/
/*                   ACF BLOCKS               */
/**********************************************/
.acf-two-col .acf-col {
	position: relative;
	float: left;
	width: 48.27272727272727%; /* 531 / 1100 */
}

.acf-two-col .acf-col-wrap .acf-col:first-child {
	margin-right: 3.4545454545454546%; /* 38 / 1100 */
}

.acf-three-col .acf-col {
	position: relative;
	float: left;
	width: 32.181818181818184%; /* 354 / 1100 */
	margin-right: 1.7272727272727273%; /* 19 / 1100 */
	margin-left: 1.7272727272727273%; /* 19 / 1100 */
}

.acf-three-col .acf-col-wrap .acf-col:first-child,
.acf-three-col .acf-col-wrap .acf-col:last-child {
	margin: 0;
}

.full-width-section {
	margin: 0 -999em; 
	padding: 0 999em;
	outline: none;
}

.bordered {
	border-bottom: 1px solid #dfdfdf;
}

.acf-row .section-title {
	font-size: 1.5em;
	font-weight: 300;
	color: #595959;
	margin: 30px 0;
}

.acf-block {
	margin: 27px 0;
}

.acf-text-header-block  {
	display: block;
	position: relative;
	height: 107px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: 50% 0;
	background-repeat: no-repeat;
	width: 100%;
	margin-bottom: 17px;
}

.acf-large-blue-text-block p {
	font-size: 1.5em;
	color: #4eafe5;
	line-height: 1.3em;
}

.acf-boxed-text-link-block .box {
	width: 300px;
	height: 89px;
	float: left;
	margin: 0 11px;
	padding: 0 33px 0 19px;
	font-size: 1.25em;
	color: #595959;
	background: rgba(181,221,242,0.75);
	text-decoration: none;
	position: relative;
}

.acf-boxed-text-link-block .box:hover {
	background: rgba(181,221,242,1);
}

.acf-boxed-text-link-block .box:first-child {
	margin-left: 0;
}

.acf-boxed-text-link-block .box:last-child {
	margin-right: 0;
}

.acf-boxed-text-link-block .box span {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 95.46%;
	height: 100%;
	background: url('images/rarrow.png') no-repeat right center;
	opacity: 0.75;
}

.acf-boxed-text-link-block .box:hover span {
	opacity: 0.1;
}

.acf-boxed-image-link-block .box {
	display: block;
	width: 263px;
	float: left;
	text-align: center;
	margin-right: 16px;
	margin-bottom: 30px;
}

.acf-boxed-image-link-block .box:nth-child(4n) {
	margin-right: 0;
}

.acf-boxed-image-link-block .box:nth-child(1n) {
	margin-left: 0;
}

.acf-boxed-image-link-block .box span {
	display: inline-block;
	font-size: 1.05em;
	width: 100%;
}

.acf-top-anchor-links-block .box {
	display: block;
	width: 354px;
	float: left;
	text-align: center;
	margin-right: 19px;
	margin-bottom: 25px;
}

.acf-top-anchor-links-block .box:last-child {
	margin-right: 0;
}

.acf-top-anchor-links-block .box span {
	display: inline-block;
	font-size: 1.25em;
}

.page .entry-content {
	outline: none;
}

.back-to-top {
	float: right;
	margin-bottom: 33px;
}

#wpgmza_map {
	border: 1px solid #b2b2b2;
	margin-top: 30px;
}

.wpcf7 textarea,
.wpcf7 input[type="text"],
.wpcf7 input[type="tel"],
.wpcf7 input[type="email"] {
	border: 1px solid #d5d3d3;
	border-radius: 3px;
	font-size: 14px;
  	padding: 9px 12px;
}

.wpcf7 textarea {
	width: 96.23352165725048%; /* 511 / 531 */
	padding-left: 1.8832391713747645%; /* 10 / 531 */
	padding-right: 1.8832391713747645%; /* 10 / 531 */
}

.wpcf7 input[type="submit"] {
	font-size: 14px;
	border: none;
	background: none;
	color: #48acdb;
	float: right;
}

.wpcf7 .note {
	color: #595959;
	font-size: 13px;
}

.wpcf7-list-item-label {
	color: #595959;
}
/**********************************************/
/*                   INDEX                    */
/**********************************************/
.left-col {
	position: relative;
	float: left;
	width:  64.36363636363637%; /* 708 / 1100 */
	padding-right: 1.6363636363636365%; /* 18 / 1100 */
	margin-right: 2%; /* 22 / 1100 */
}

.right-col {
	position: relative;
	float: left;
	width:  32%; /* 352 / 1100 */
}

.pagination h2 {
	display: none;
}

.search article.page,
article.post {
	margin-bottom: 40px;
}

.search article.page img,
article.post img {
	float: left;
	margin-right: 23px;
}

.search article.page .entry-title,
article.post .entry-title {
	font-size: 1.05em;
	line-height: 1.05em;
	margin-bottom: 18px;
}

.search article.page .entry-date,
article.post .entry-date {
	font-size: 0.75em;
	line-height: 0.75em;
}

.entry-content a {
	font-size: 14px;
}


/**********************************************/
/*                   SINGLE                   */
/**********************************************/
.single-post .entry-title {
	font-size: 1.5em !important;
	font-weight: 300;
	color: #595959;
	margin: 22px 0 0px;
	}

.single-post .right-col {
	padding-top: 133px;
}

.single-post .entry-date {
	margin-bottom: 42px;
}

/**********************************************/
/*                   SIDEBAR                  */
/**********************************************/
.widget {
	margin-bottom: 32px;
}

.widgettitle {

}

.jaw_widget,
.jcl_widget {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.875em;
}

.jaw_months {
	list-style: none;
	margin-bottom: 3px;
}

.jaw_years {
	margin-bottom: 15px;
	color: #666;
	margin-top: 21px;
}

.jcl_category  a {
	font-weight: 0.875em;
	margin-bottom: 3px;
}

.jcl_widget {
	margin-top: 21px;
}
/**********************************************/
/*                   FOOTER                   */
/**********************************************/
.footer-widgets {
	padding: 20px 0;
	background: #26221f;
	border-top: 1px solid #2f2b28;
}

.footer-nav-wrap {
	width: 51.45454545454545%; /* 566 / 1100 */
	float: left;
}

.footer-menu li a {
	color: #fff;
	font-size: 14px;
}

.footer-menu li a:hover {
	color: #46abdf;
}

.footer-menu {
	width: 23%;
	float: left;
	list-style: none;
	padding-right: 2%;
}

.footer-menu ul {
	list-style: none;
}

.footer-menu > li:first-child {
	margin-bottom: 20px;
}

.footer-address {
	position: relative;
	float: left;	
	width: 17.454545454545456%; /* 192 / 1100 */
	padding-left: 2.909090909090909%; /* 32 / 1100 */
}

.footer-address p {
	font-size: 13px;
	color: #fff;
	line-height: 1.8em;
}

.footer-address p a {
	font-size: 13px;
	line-height: 1.8em;
	color: #fff;
}

.footer-subscribe .mc4wp-form p,
.footer-menu li ul li a {
	color: #ccc;
	font-size: 13px;
}

.footer-subscribe {
	float: left;
	position: relative;
	width:  28.18181818181818%; /* 310 / 1100 */
}

.footer-subscribe .mc4wp-form {
	margin: 0;
}

.footer-subscribe .mc4wp-form p span.form-50 {
	float: left;
	width: 49%;
}

.footer-subscribe .mc4wp-form p span.form-50:first-child {
	margin-right: 2%;
}

.footer-subscribe .mc4wp-form input[type="text"],
.footer-subscribe .mc4wp-form input[type="email"] {
	border: none;
	background: #333;
	font-size: 13px;
	height: 24px;
	line-height: 24px;
	padding: 0 10px;
}

.footer-subscribe .mc4wp-form input[type="submit"] {
	background: #46abdf;
	color: #333333;
	font-size: 13px;
	border: 0;
	line-height: 22px;
	height: 22px;
	padding: 0 26px;
	border-radius: 2px;
	font-weight: 400;
}

.site-info {
	padding: 12px 0;
	background: #fff;
	text-align: center;
	font-size: 13px;
	color: #595959;
}

.site-info .christom a,
.site-info .christom {
	color: #b4b4b4;
}

.site-info a {
	color: #595959;
}

.site-info .christom a:hover {
	text-decoration: underline;
}

.menu-bottom-menu-container,
.site-info span {
	display: inline-block;
}

.menu-bottom-menu-container ul {
	list-style: none;
	display: inline-block;
}

.menu-bottom-menu-container:before,
.menu-bottom-menu-container:after {
	content: '|';
	display: inline-block;
	padding: 0 4px;
}

/**********************************************/
/*                   XBROWSER                 */
/**********************************************/
.home-module-wrap article.post .entry-title {
	margin-top: 0;
}

.search-bar {
	position: relative;
}

/**********************************************/
/*                   VIEWPORTS                */
/**********************************************/
.slicknav_menu {
	display:none;
}

.site-header .site-title { 
	margin: 0;
}


@media screen and (max-width: 47.938em) {
	.js .sf-menu {
		display:none !important;
	}

	.js .slicknav_menu {
		display:block;
		float: right;
		width: 100%;
		padding: 0;
		background: none;
	}

	.slicknav_menu li a {
		color: #222;
		margin-left: 0;
		padding-left: 0;
	}

	.slicknav_nav .slicknav_row {
		padding-left: 0;
		margin-left: 0;
	}

	.slicknav_btn { 
		background: none;
		margin-top: -52px;
		margin-right: -8px;
	}

	.slicknav_menu .slicknav_icon-bar {
		background: #000;
		width: 2.375em;
		height: 0.438em;
	}

	.slicknav_nav a:hover {
		background: none;
		text-decoration: none;
	}

	.slicknav_nav .slicknav_row:hover {
		background: none !important;
	}

	.slicknav_nav li {
		border-bottom: 1px solid #eee;
	}

	.slicknav_nav li ul li {
		padding-left: 10px;
	}

	.slicknav_nav ul {
		margin: 0;
	}

	.slicknav_nav li ul li:last-child {
		border: none;
	}

	.slicknav_nav .slicknav_arrow {
		font-size: 12px;
	}

	.slicknav_nav .slicknav_row:hover {
		color: #222;
	}
}

@media only screen
and (max-width : 68.688em /*1099*/ ) {
	.full-width-section { margin: 0 -3.2% ; padding: 0 3.2%; }
}

@media only screen
and (max-width : 64em /*1024*/ ) {
	.container { width: 94%; padding: 0 3%; }
	#menu-main-nav a { padding: 5px 10px; }
	.kp-box-text,
	a.kp-box,
	a.home-box { width: 307px; height: auto !important;  }
	a.kp-box img,
	a.home-box img { max-width: 100%; }
	.acf-top-anchor-links-block .box { width: 306px; margin-right: 21px; }
	.acf-top-anchor-links-block .box img { max-width: 100%; }
	.acf-boxed-image-link-block .box { width: 24.701195219123506%; margin-right: 0.398406374501992%; }
	.acf-boxed-image-link-block .box img { max-width: 100%; }
	.acf-boxed-text-link-block .box { width: 255px; margin: 0 10px; }
	.kp-box-text a { padding-top: 11px; padding-bottom: 11px; }
}

@media only screen
and (max-width : 63.938em /*1023*/ ) {
	.site-header .flex_row_center { display: inline-block; }
	.site-header .site-branding { width: 100%; float: none; }
	.site-header .site-title { text-align: center;}
	.site-header .site-title a { display: inline-block; }
	.nav-desktop { width: 100%; float:  none; }
	.menu-main-nav-container { text-align: center; }
	.kp-box-text,
	a.kp-box,
	a.home-box { width: 32%; margin: 0 0.6%; }
	.home-module-wrap .col { margin: 0 0.6%; }
	.acf-boxed-text-link-block .box { width: 26.56042496679947%; padding-left:  1.3280212483399735%; padding-right: 4.3824701195219126%; margin: 0 0.796812749003984%; }
	.acf-top-anchor-links-block .box { width: 32.669322709163345%; margin-right: 0.99601593625498%; }
	.entry-content img { max-width: 100%; }
	.kp-box-text a { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; padding-top: 6px; padding-bottom: 6px; }
	.kp-box-text a:first-child { margin: 0; }

}

@media only screen
and (max-width : 48.000em /*768*/ ) {
	.forcefullwidth_wrapper_tp_banner { display: none; }
}

@media only screen
and (max-width : 47.938em /*767*/ ) {
	.site-header .site-branding { width: 100%; float: none; }
	.site-header .site-title { text-align: left; }
	.nav-mobile { width: 100%; float: none; }
	.home-box-wrap .container { width: 300px; margin: 0 auto; }
	a.home-box { width: 100%; margin: 5px 0; }
	.footer-nav-wrap { display: none; }
	.footer-address { width: 37%; }
	.footer-subscribe { width: 60%; }
	.home-module-wrap .col { width: 100%; margin: 0; }
	.left-col { width: 100%; margin-right: 0;}
	.right-col { width: 100%; padding-top: 25px; }
	.single-post .right-col { padding-top: 25px; }
	.acf-two-col .acf-col { width: 100%; margin-right: 0; }
	.wpcf7 textarea, .wpcf7 input[type="text"], .wpcf7 input[type="tel"], .wpcf7 input[type="email"] { width: 91%; }
	.wpcf7 textarea { width: 95%; }
	.top-banner { height: 133px; }
	.acf-three-col .acf-col { width: 100%; margin: 0;}
	.acf-top-anchor-links-block,
	.acf-boxed-text-link-block { width: 300px; margin: 27px auto; } 
	.acf-top-anchor-links-block .box { width: 100%; margin: 2px 0; }
	.acf-boxed-text-link-block .box { width: 83.2258064516129%; padding: 0 10.64516129032258% 0 6.129032258064516%; margin: 2px 0; }
	.acf-boxed-image-link-block .box { width: 100%; margin: 0 0 30px 0 !important ;}
	.acf-boxed-image-link-block .box:nth-child(2n) { margin-left: 1.398406374501992% }
	.kp-module .acf-block { width: 300px; margin: 27px auto; }
	a.kp-box { width: 100%; margin: 0 0 5px 0; } 
	.kp-box-text { width: 100%; margin: 0; }
}

@media only screen
and (max-width : 35.500em ) {

}

@media only screen
and (max-width : 30.000em /*480*/ ) {
	.site-branding .site-title a { width: 240px; background-size: 100%; }
	.search-bar { display: none; }
	.topbar .telephone { margin-right: 0; }
	.menu-bottom-menu-container:before, .menu-bottom-menu-container:after { display: none; }
	.menu-bottom-menu-container { display: none; }
	.site-info span.christom { display: none; }
	.footer-address { padding-left: 0; padding-right: 2.909090909090909%; }
}

@media only screen
and (max-width : 20.000em ) {
	
}
